$inter: 'Inter', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$primary-black: #000;
$primary-grey: #ccc;
$primary-purple: #9353ff;
$primary-white: #fff;
$primary-yellow: #daff01;
$secondary-pink: #ee6471;
$secondary-orange: #f87f46;
$gray-500: #adb5bd;
