@import './variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition: 0.3s;
  font-family: $inter;
}

.section-title {
  font-size: 1.75rem;
  @media screen and (min-width: 1200px) {
    font-size: 2rem;
  }
}

.primary-yellow {
  color: $primary-yellow;
}
